<!doctype html>
<html lang="en-US">
<head>
     <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>

<body>
  <input type="Lastbil" v-model.string="Lastbil">
  <button id="all" v-on:click="getAllLastbils">get All Lastbils</button>
  <ul id="Lastbilliste" v-if=Lastbils.length>
    <li v-for="(Lastbil, index) in Lastbils" >
      <p>
        LastBilType:
        {{Lastbil.LastBilType}}
      </p>
      <h3>
        AntalKm:
        {{Lastbil.AntalKm}}
      </h3>
      <p>
        AntalLiter:
        {{Lastbil.AntalLiter}}
      </p>
  <div id="content"></div>
    
  <script src="bundle.js"></script>
</body>
</html>
